<div class="row" style="width: 100%;
        height: 100%;">
            <div class="col-lg-4 col-sm-6 mx-auto" style="
            align-items: center;">
                <div class="px-md-5 px-4">
                    <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar session</h3>
                    <p class="font-size-sm text-muted text-center">Sign in to your account using email and password provided during registration.</p>
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
                      <div class="form-group">
                        <label for="signin-email">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]='user.email' placeholder="Your email address" required>
                      </div>
                      <div class="form-group">
                        <label for="signin-password" class="form-label">Password</label>
                        <div class="cs-password-toggle input-group-overlay">
                          <input type="password" class="form-control appended-form-control" name="password" [(ngModel)]='user.password' placeholder="Your password" required>
                          <div class="input-group-append-overlay">
                            <label class="btn cs-password-toggle-btn input-group-text">
                              <input type="checkbox" class="custom-control-input">
                              <i class="cxi-eye cs-password-toggle-indicator"></i>
                              <span class="sr-only">Show password</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      
                    </form>
                  </div>
            </div>
        </div>